.login_page{
    text-align: center;
    border-width: 2;
    color: white;
}
body{
    background-color: brown;
}
.adduser{
    text-align: center;
    background-color: burlywood;
    border-color: black;
    width: 5;
}
#output{
    background:white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}

#player_question, #player_answer{
    color:white;
}